
body {
    background-color:#96b7d8;
    color:#113252;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px;
    border-radius: 8px;
    background-color:#113252;
    color:#cde0f4;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#connection {
    color:#113252;
    text-decoration: none;
}

footer {
    text-align: center;
}

h1, h2 {
    font-size: 30px;
    font-weight:200;
    color:rgb(7, 56, 119);
}

header {
    float: left;
    width: 100%;
}

header ul li {
    display:inline;
    font-size: 22px;
    padding: 0px 8px;
    margin: 3px 0px;
    background-color: #333;
}

input, textarea {
    border: rgb(7, 56, 119) 2px solid;
    border-radius: 10px;
    margin: 20px;
    height: 50px;
    width: 50%;
    display: block;
    background-color:#cde0f4;
    font-family: 'Roboto', sans-serif;
}

label {
    font-size: 18px;
    color: rgb(56, 54, 54);
    margin: 0px 50px;
}

li a {
    text-decoration:none;
    color: lightgray;
}

li {
    list-style-type: none;
}

@media only screen and (max-width: 600px){
    .xp-block {
        width: 100%;
    }
}

#message {
    display: flex;
    /* height: 100%; */
    flex-wrap: wrap;
    justify-content: space-around;
  	align-items: center;
 }

p {
    width: 75%;
}

section {
    padding: 15px 20px;
}

.skill-block {
    background-color: rgb(7, 56, 119);
    color: #cde0f4;;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-left: 2px;
    border-radius: 10px;
}

.xp-block {
    list-style:none;
    background-color: #cde0f4;
    border: rgb(7, 56, 119) 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 20px 0px;
    width: 50%;
}
